@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --fonr-fam: "Poppins", serif;

  --color-white: #fff;
  --color-bgc-card: #F5F5F5;
  --color-firm: #263238;
  --color-gray: #8F95A5;
  --color-black: #000;
  --lable-pric-color: #EEEEEE;

  --time-trans: .5s;
  --border-rad-small: 5px;
  --border-rad-big: 15px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--fonr-fam);
  background-color: var(--color-white);
}

/* Контейнер сайта */
.main-container {
  margin-inline: auto;
  max-width: 1340px;
}

/* Мульти-блоки */
.hero-title {
  color: #000;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 8rem;
}

.text-small {
  color: var(--color-gray);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
}

.title-card {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  color: var(--color-firm);
}

.main-style-btn {
  text-wrap: nowrap;
  border: 1px solid var(--color-firm);
  background-color: var(--color-firm);
  color: var(--color-white);
  transition: background var(--time-trans), border var(--time-trans);
}

.main-style-btn:hover {
  background: rgba(0, 0, 0, 0.177);
  color: var(--color-black);
}

/* Навигация */
.nav {
  padding-top: 5rem;
  padding-bottom: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  max-width: 106px;
}

.nav__list {
  max-width: 50.1rem;
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
}

.nav__list-item {
  position: relative;
}

.nav__list-item::after {
  content: "";
  position: absolute;
  inset: 100% 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  transition: width var(--time-trans);
  background-color: var(--color-firm);

}

.nav__list-item:hover::after {
  width: 100%;
}

.nav__link {
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  line-height: normal;
  text-wrap: nowrap;
  color: var(--color-firm);
}

.nav__btn {
  padding: 1.5rem 5.7rem;
  transition: background var(--time-trans);
  font-size: 2.4rem;
  font-weight: 400;
  text-wrap: nowrap;
  border: 1px solid var(--color-firm);
  border-radius: var(--border-rad-small);
}

.nav__btn:hover {
  background: rgba(0, 0, 0, 0.177);
}

/* Шапка */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__text-inner {
  position: relative;
  max-width: 50rem;
}

.header__title {
  margin-bottom: 4rem;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 8rem;
  color: var(--color-black);
}

.header__title::after {
  content: url(../img/bulb-icon.svg);
  position: absolute;
  min-width: 10.5rem;
  /* aspect-ratio: 1; */
  top: 18.4vh;
  right: -1.81vw;
}

.header__text {
  margin-bottom: 6.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: normal;
  color: var(--color-gray);
}

.header__btn {
  padding: 3.1rem 11.9rem;
  font-size: 3.6em;
  font-weight: 400;
  border-radius: var(--border-rad-big);
}

.header__img-inner {
  max-width: 66rem;
}

/* Скиллы */
.skills {
  padding-top: 9rem;
}

.skills__title {
  text-align: center;
  margin-bottom: 9.9rem;
}

.skills__grid-container {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "Speaking Writing Reading"
    "Speaking Listening Listening";
}

.skills__grid-item {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-rad-big);
  background-color: var(--color-bgc-card);
}

.skills__grid-item:nth-child(1) {
  grid-area: Speaking;
  justify-content: center;
}

.skills__grid-item:nth-child(2) {
  grid-area: Writing;
  align-items: end;
}

.skills__grid-item:nth-child(3) {
  grid-area: Reading;
}

.skills__grid-item:nth-child(4) {
  grid-area: Listening;
  flex-direction: row-reverse;
}

.skills__title-card {
  line-height: 8rem;
}

.skills__card-inner {
  max-width: 36rem;
}

.skills__text {
  margin-bottom: 3.5rem;
}

.skills__card-text-inden {
  display: inline-block;
  padding-top: 1.5rem;
}

.skills__btn {
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: 500;
  border-radius: var(--border-rad-small);
  color: var(--color-white);
  background-color: var(--color-firm);
}

/* О компании */
.about {
  padding-top: 16rem;
  display: flex;
  justify-content: space-between;
}

.about__text-inner {
  padding-top: 3rem;
  max-width: 63.5rem;
}

.about__title {
  margin-bottom: 2.5rem;
}

.about__text {
  font-size: 2rem;
  margin-bottom: 3.5rem;
}

.about__quantity {
  display: flex;
  justify-content: space-between;
}

.about__quantity-inner {
  text-align: center;
}

.about__subtitle {
  position: relative;
  color: var(--color-firm);
}

.about__img-inner {
  min-width: 50rem;
  aspect-ratio: 1;
}

/* Цены  */
.pricing {
  padding-top: 19rem;
}

.pricing__title {
  margin-bottom: 10rem;
  text-align: center;
}

.pricing__inner {
  display: flex;
  justify-content: space-between;
}

.pricing__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 38rem;
  min-height: 50rem;
}

.pricing__img-inner {
  min-width: 100%;
}

.pricing__img {
  max-height: 25rem;
  object-fit: contain;
}

.pricing__item-title {
  text-wrap: nowrap;
}

.pricing__label {
  padding: .5rem 1.8rem;
  position: relative;
  max-width: 30rem;
  font-size: 3rem;
  font-weight: 400;
  border-radius: var(--border-rad-small);
  background-color: var(--lable-pric-color);
  color: var(--color-firm);
}

.pricing__label::after {
  content: "per month";
  position: absolute;
  top: 50%;
  margin-left: .8rem;
  transform: translateY(-50%);
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-gray);
}

/* Связаться с нами*/
.contact {
  padding-top: 25rem;
  padding-bottom: 13rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray);
}

.contact__img-inner {
  max-width: 48rem;
}

.contact__text-inner {
  padding-top: 3.5rem;
  max-width: 72.6rem;
}

.contact__title {
  margin-bottom: 4rem;
}

.contact__text {
  margin-bottom: 5.5rem;
}

.contact__form {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.contact__email {
  padding: 3rem;
  min-width: 30vw;
  font-size: 1.6rem;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-rad-big);
}

::placeholder {
  color: var(--color-gray);
  font-size: 1.6rem;
  font-weight: 400;
}

.contact__btn {
  padding: 2.5rem 8rem;
  font-size: 2rem;
  font-weight: 500;
  border-radius: var(--border-rad-small);
  color: var(--color-white);
}

.contact__label {
  display: none;
}

/* Подвал */
.footer {
  padding-top: 3rem;
  min-height: 15rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__link {
  display: inline-block;
  max-width: 11rem;
}

.footer__copy {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--color-gray);
}
